html {
    background-color: whitesmoke;
}

body {
    width: 1010px!important;
    margin: 0 auto!important;
    height: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
}

#root {
 background-color: white;
}

.card-film {
    display: flex;
    box-shadow: 0 0 10px #cac4c4;
    margin: 0px 0px 30px 34px;
    width: 454px;
    height: 281px;
}

.ant-list-items {
    display: flex;
    flex-wrap: wrap;
}

.ant-pagination {
    margin: 0 auto!important;
}


.card-film__overview {
    position: relative;
}

.ant-layout-content {

}
.ant-tabs-ink-bar {
    width: 64px;
}

.ant-tabs-tab {
    width: 64px!important;
    justify-content: center;
    margin: 0!important;
}

.overview__title {
    display: flex;
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 45px;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.overview__date {
    position: relative;
    font-style: normal;
    font-weight: normal;
    margin-left: 20px;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #827E7E;
    justify-content: space-between;
    margin-bottom: 7px;
}

.overview__description{
    font-style: normal;
    margin-left: 20px;
    margin-top: 7px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
}

.overview__genre {
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
    height: 40px;
}

.genre {
    display: flex;
    align-items: center;
    height: 20px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    padding: 2px 4px 3px 5px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.example {
    margin: 0 45%;
    background: rgba(255,255,255,0.08);
    border-radius: 4px;
    padding: 30px 50px;
    margin-top: 40vh;
}

.ant-alert {
    width: 50%;
    margin: 0 auto!important;
    padding-top: 10px!important;
    margin-top: 400px!important;
}
.ant-alert-message {
    display: flex;
    text-align: center;
}
.ant-alert-description {
    text-align: center;
}

.ant-input {
    height: 40px!important;
    border: 1px solid #D9D9D9!important;
    box-sizing: border-box!important;
    border-radius: 4px!important;
}

.container_input {
    height: 40px;
    margin-bottom: 32px;
    margin-right: 34px;
    margin-left: 34px;
}

.vote {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid gold;
    border-radius: 50%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    top: 12px;
    right: 9px;
}

.overview__rating {
    width: 239px;
    height: 46px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ant-rate-star {
    width: 15px;
}

svg {
    width: 15px;
}

.pagination {
    width: 50%;
    margin: 25px 350px;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: none!important;
}

.ant-pagination-item-link,
.ant-pagination-item {
    border: none!important;
    border-radius: 4px!important;
}

.ant-pagination-item-link :hover,
.ant-pagination-item :hover {
    background-color: #1890FF!important;
    color: white!important;
    border-radius: 4px!important;
}
.ant-pagination-item-link ::selection,
.ant-pagination-item ::selection {
    background-color: #1890FF!important;
    color: white!important;
    border-radius: 4px!important;
}

.ant-pagination-item-active {
    background-color: #1890FF!important;
    color: white!important;
    border-radius: 4px!important;
}

.red {
    border: 2px solid #E90000;
}

.orange {
    border: 2px solid #E97E00;
}

.yellow {
    border: 2px solid #E9D100;
}

.green {
    border: 2px solid #66E900;
}


@media (min-width: 320px) and (max-width: 1010px){
    #root {
        background-color: white;
    }

    html {
        background-color: whitesmoke;
    }

    body {
        width: 100%!important;
        margin: 0 auto!important;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
    }

    .ant-pagination {
        width: 100%;
        display:flex;
        justify-content: center;
    }

    .ant-tabs-ink-bar {
        width: 64px!important;
    }

    .ant-tabs-tab {
        width: 64px!important;
        justify-content: center;
        margin: 0!important;
    }

    .overview {
        width: 100%;
    }

    .card__film {
        position: relative;
        width: 454px;
        height: 281px;
        display: flex;
        box-shadow: 0 0 10px #cac4c4;
        margin: 20px auto;
    }

    .ant-input-search {
        width: 100%!important;
    }

    .ant-layout-content {
        padding-right: 0!important;
    }

    .card-film__poster {
        width: 60px;
        height: 91px;
        position: absolute;
        top: 6px;
        left: 10px;
    }

    .overview__date {
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #827E7E;
        margin-left: 83px;
        margin-bottom: 7px;
    }

    .overview__genre {
        display: flex;
        flex-wrap: wrap;
        margin-left: 83px;
        margin-bottom: 7px!important;
    }

    .overview__description {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        margin: 7px 10px 46px;
    }

    .overview__title {
        display: flex;
        justify-content: space-between;
        margin-left: 83px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
    }

    .vote {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 2px solid gold;
        border-radius: 50%;
        margin-top: 5px;
        margin-right: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
    }

    .overview__rating {
        width: 239px;
        height: 46px;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .ant-rate-star {
        width: 15px;
    }

    svg {
        width: 15px;
    }

    .ant-input {
        height: 40px!important;
        border: 1px solid #D9D9D9!important;
        box-sizing: border-box!important;
        border-radius: 4px!important;
    }

    .container_input {
        height: 40px;
        margin-bottom: 10px;
        margin-right: 16px;
        margin-left: 16px;
    }
    .ant-tabs-nav::before {
        position: relative!important;
        content: none;
    }
    .pagination {
        width: 50%;
        margin: 25px auto;
    }

    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-bottom > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before,
    .ant-tabs-bottom > div > .ant-tabs-nav::before {
        border-bottom: none!important;
    }

    .ant-pagination-item-link,
    .ant-pagination-item {
        border: none!important;
        border-radius: 4px!important;
        height: 22px!important;
        width: 22px!important;
    }


    .ant-pagination-item-link ::selection,
    .ant-pagination-item ::selection {
        background-color: #1890FF!important;
        color: white!important;
        border-radius: 4px!important;
    }

    .ant-pagination-item-active, .ant-pagination-item-active a {
        background-color: #1890FF!important;
        color: white!important;
        border-radius: 4px!important;
    }

    .ant-pagination-next,
    .ant-pagination-prev {
        border: none!important;
        border-radius: 4px!important;
    }

    .ant-pagination-prev:hover,
    .ant-pagination-prev:hover .ant-pagination-item-link,
    .ant-pagination-next:hover,
    .ant-pagination-next:hover .ant-pagination-item-link,
    .ant-pagination-jump-prev:hover,
    .ant-pagination-jump-next:hover,
    .ant-pagination-jump-prev:hover .ant-pagination-item-link,
    .ant-pagination-jump-next:hover .ant-pagination-item-link {
        background: #1890FF!important;
        color: white!important;
        border-radius: 4px!important;
    }

    .red {
        border: 2px solid #E90000;
    }

    .orange {
        border: 2px solid #E97E00;
    }

    .yellow {
        border: 2px solid #E9D100;
    }

    .green {
        border: 2px solid #66E900;
    }
}